In [1]:
#imports
import pandas as pd
from scipy import sparse

In [2]:
#https://github.com/babu-thomas/movielens-posters
# https://grouplens.org/datasets/movielens/100k/
ratings = pd.read_csv('info.csv')
movies = pd.read_csv('movies_data.csv')
movie_posters = pd.read_csv('movie_poster.csv',names=['item_id','poster_url'])
movie_url = pd.read_csv('movie_url.csv',names=['item_id','url'])

In [3]:
movies

      item_id                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [4]:
ratings

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [5]:
movie_posters

      item_id                                         poster_url
0           1  https://images-na.ssl-images-amazon.com/images...
1           2  https://images-na.ssl-images-amazon.com/images...
2           3  https://images-na.ssl-images-amazon.com/images...
3           4  https://images-na.ssl-images-amazon.com/images...
4           5  https://images-na.ssl-images-amazon.com/images...
...       ...                                                ...
1587     1678  https://images-na.ssl-images-amazon.com/images...
1588     1679  https://images-na.ssl-images-amazon.com/images...
1589     1680  https://images-na.ssl-images-amazon.com/images...
1590     1681  https://images-na.ssl-images-amazon.com/images...
1591     1682  https://images-na.ssl-images-amazon.com/images...

[1592 rows x 2 columns]

In [6]:
movies = movies.merge(movie_posters,on='item_id')
movies = movies.merge(movie_url,on='item_id')

In [7]:
movies

,item_id,title,poster_url,url
0,1,Toy Story (1995),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0114709/?ref_=fn_a...
1,2,GoldenEye (1995),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0113189/?ref_=fn_a...
2,3,Four Rooms (1995),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0113101/?ref_=fn_a...
3,4,Get Shorty (1995),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0113161/?ref_=fn_a...
4,5,Copycat (1995),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0112722/?ref_=fn_a...
...,...,...,...,...
1587,1678,Mat' i syn (1997),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0119711/?ref_=fn_a...
1588,1679,B. Monkey (1998),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0120594/?ref_=fn_a...
1589,1680,Sliding Doors (1998),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0120148/?ref_=fn_a...
1590,1681,You So Crazy (1994),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0111804/?ref_=fn_a...
1591,1682,Scream of Stone (Schrei aus Stein) (1991),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0102855/?ref_=fn_a...

In [8]:
ratings = ratings.merge(movies,on='item_id').drop(['timestamp'],axis=1)
print(ratings.shape)
ratings.head()

(97337, 6)

,user_id,item_id,rating,title,poster_url,url
0,196,242,3,Kolya (1996),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0116790/?ref_=fn_a...
1,63,242,3,Kolya (1996),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0116790/?ref_=fn_a...
2,226,242,5,Kolya (1996),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0116790/?ref_=fn_a...
3,154,242,3,Kolya (1996),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0116790/?ref_=fn_a...
4,306,242,5,Kolya (1996),https://images-na.ssl-images-amazon.com/images...,http://www.imdb.com/title/tt0116790/?ref_=fn_a...

In [9]:
ratings['title'].nunique()

1574

In [10]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
userRatings.head()
print("Before: ",userRatings.shape)
userRatings = userRatings.dropna(thresh=10, axis=1).fillna(0,axis=1)
#userRatings.fillna(0, inplace=True)
print("After: ",userRatings.shape)

Before:  (943, 1574)
After:  (943, 1106)

In [11]:
userRatings

title,101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),"39 Steps, The (1935)",Absolute Power (1997),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),...,"Wizard of Oz, The (1939)",Wolf (1994),"Wonderful, Horrible Life of Leni Riefenstahl, The (1993)",Wonderland (1997),"Wrong Trousers, The (1993)",Wyatt Earp (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)"
user_id,,,,,,,,,,,,,,,,,,,,,
1,2.0,5.0,0.0,0.0,3.0,4.0,0.0,0.0,3.0,3.0,...,4.0,0.0,0.0,0.0,5.0,0.0,5.0,3.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,4.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,...,3.0,2.0,0.0,0.0,0.0,1.0,0.0,4.0,3.0,0.0

In [12]:
corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head(100)

title,101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),"39 Steps, The (1935)",Absolute Power (1997),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),...,"Wizard of Oz, The (1939)",Wolf (1994),"Wonderful, Horrible Life of Leni Riefenstahl, The (1993)",Wonderland (1997),"Wrong Trousers, The (1993)",Wyatt Earp (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)"
title,,,,,,,,,,,,,,,,,,,,,
101 Dalmatians (1996),1.000000,0.059246,-0.001097,0.052877,0.128745,0.078260,0.015504,0.221025,0.121153,0.139429,...,0.124633,0.057741,-0.034417,0.000720,0.074635,0.109054,0.155450,0.115195,0.039172,-0.005917
12 Angry Men (1957),0.059246,1.000000,-0.014343,0.066339,0.230274,0.298716,0.339195,0.019790,0.156721,0.133447,...,0.287779,0.048741,0.138347,-0.004803,0.170189,0.160140,0.290188,0.164959,0.079341,0.038111
187 (1997),-0.001097,-0.014343,1.000000,0.078770,-0.010333,-0.039939,-0.021414,0.127531,0.017270,0.015071,...,0.030288,0.084986,-0.020299,0.115321,-0.025833,-0.000838,-0.021873,0.006811,0.053843,0.063789
2 Days in the Valley (1996),0.052877,0.066339,0.078770,1.000000,0.056283,0.090983,-0.019962,0.245191,0.129204,0.132799,...,0.069162,0.087568,-0.001841,-0.026994,0.028208,0.116497,0.061328,0.197620,0.176032,0.146777
"20,000 Leagues Under the Sea (1954)",0.128745,0.230274,-0.010333,0.056283,1.000000,0.384535,0.274525,0.117512,0.231247,0.176316,...,0.338880,0.244088,0.062662,-0.001717,0.101581,0.286848,0.309511,0.243306,0.057977,0.071111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Beautiful Girls (1996),0.098857,0.113414,0.068679,0.323346,0.043088,0.054789,0.017458,0.121056,0.159362,0.170423,...,0.071576,0.090624,-0.016636,0.022398,0.060787,0.136625,0.091590,0.188626,0.105043,0.084693
Beautiful Thing (1996),0.005010,-0.028246,-0.018361,0.131446,0.009871,0.020735,-0.013642,0.045860,0.021823,-0.016392,...,0.024755,-0.028535,-0.017606,0.025498,-0.021148,-0.038811,0.022283,-0.016684,-0.035748,0.054116
Beauty and the Beast (1991),0.242811,0.192461,0.066475,0.105471,0.282396,0.280350,0.170056,0.110741,0.289348,0.253740,...,0.426779,0.196723,0.033930,-0.018265,0.224653,0.220851,0.332930,0.277958,0.156375,0.001543
Beavis and Butt-head Do America (1996),0.083441,0.012591,0.084268,0.210197,0.099200,0.117429,0.003430,0.176901,0.213762,0.270675,...,0.095623,0.185853,0.010064,-0.035280,0.129174,0.033357,0.170369,0.217274,0.205825,0.158745
Bed of Roses (1996),0.201885,0.025549,0.054273,0.060487,-0.038273,-0.057588,-0.026605,0.159545,0.086389,0.105684,...,0.041917,0.038894,-0.025028,-0.016150,0.083438,0.065941,0.013398,0.083463,0.066616,-0.045414

In [13]:
def get_similar(movie_name,rating):
    similar_ratings = corrMatrix[movie_name]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_ratings

In [14]:
similar_movies = get_similar("12 Angry Men (1957)",4)

In [15]:
similar_movies[1:5].index

Index(['Bridge on the River Kwai, The (1957)', 'Breakfast at Tiffany's (1961)',
       'Thin Man, The (1934)', 'Graduate, The (1967)'],
      dtype='object', name='title')

In [16]:
import pickle
pickle.dump(movies,open('movies.pkl','wb'))
pickle.dump(corrMatrix,open('corrmatrix.pkl','wb'))